<aside>
  <h2>About me</h2>
  <p>My name is Steve Rydz and I&rsquo;m a web developer based in Herfordshire. Currently I work at Canonical on the marketplace squad.</p>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="https://twitter.com/steverydz">Twitter</a></li>
    <li><a href="https://instagram.com/steverydz">Instagram</a></li>
    <li><a href="https://github.com/steverydz">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/steverydz/">LinkedIn</a></li>
  </ul>
  <h2>Contact</h2>
  <p>If you&rsquo;d like to get in touch with me then feel free to <a href="mailto:steverydz+website@gmail.com">send me an email</a> or <a href="https://twitter.com/intent/tweet?text=@steverydz">reach out to me on Twitter</a>.</p>
</aside>
